/*
////////////////////////////////////////////////////////////////////////////////
//
//  ADOBE SYSTEMS INCORPORATED
//  Copyright 2009 Adobe Systems Incorporated
//  All Rights Reserved.
//
//  NOTICE: Adobe permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////
*/

@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global
{
	chrome-color: #333333;
	color: #CCCCCC;
	content-background-color: #555555;
	symbol-color: #000000;
	roll-over-color: #444444;
	selection-color: #333333;
	focus-color: #888888;
	accent-color: #7C7C7C;
}


s|Application,s|Panel,mx|Panel,mx|TitleWindow,mx|TabNavigator,mx|SwatchPanel
{
	background-color: #444444;
}

s|RichEditableText
{
	focusedTextSelectionColor: #333333;
	unfocusedTextSelectionColor: #333333;
}

mx|DataGrid
{
	alternating-item-colors: #777777, #777777;
}

mx|HDividedBox
{
	barColor: #333333;
}

s|ToolTip,mx|ToolTip
{
	color: #ffffff;
	backgroundColor: #5c5c5c;
	borderColor: #999999;
}






